<div class="new"> 
    <%= render 'static_pages/partials/navbar' %>
    <div class=center>
        <div class="top">
            <h4><%= @event.date.to_formatted_s(:long_ordinal) %></h4>
            <h1><%= @event.name %></1>
            <h4 id="last">by <%= @event.creator.name %></h4>
        </div>
        <div class="bottom">
            <h2>About this event</h2>
            <p><%= @event.description %></p>
            <h2>Location</h2>
            <p><%= @event.location %></p>
        </div>
        <div class="bottom">
            <% list_of_users = @event.attendees.pluck(:name) %>
            <h2>List of attendees (<%= list_of_users.count%>)</h2>                                   
            <% list_of_users.each do | attendee | %>
                <ul>
                    <li><%= attendee %></li>
                </ul>
            <% end %>
        </div>

    </div>
</div>