<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="present-container">
      <div class="bg-image"></div>
      <div class="small-image"></div>
      <%= render 'static_pages/partials/query_form' %>
      <%= render 'static_pages/partials/navbar' %>
    </div>
    <div class="events-container">
      
    </div>
    <div class="events-container">
      
    </div>
    <div id="footer-container">
      
    </div>
    

    <%= yield %>
    
  </body>
</html>
